

    <div class="flex absolute top-[50%] left-[5%] bg-slate-50 bg-opacity-50 max-w-[800px] text-3xl flex-wrap rounded-full px-[50px] py-[20px]">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, 
        consectetur accusantium voluptates minus veniam voluptatem praesentium tempore
         expedita voluptate inventore reprehenderit aspernatur nemo ipsa doloremque. P
         orro odit voluptates eaque cumque.
    </div >
    <div class="flex absolute top-[90%] left-[10%]  text-3xl flex-wrap">
         <button routerLink="/registration" class="bg-green-500 py-2 px-4 rounded-lg"> Get Started </button>
    </div>